

    <div class="circle">
        <img src="http://golem13.fr/wp-content/uploads/2013/06/profile.jpg" alt="..." class="img-circle">
         <div class="row">
              <div class="col-xs-offset-2 col-md-offset-5 col-xs-4">
                 <div class="cercle2 "></div>
              </div>
         </div>
    </div>
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ app.user.username }}</p>
        <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ app.user.email }}</p>
        <p>{{ 'status'|trans({}, 'FOSUserBundle') }}: {{ app.user.status }}</p>
        <p>{{ 'points'|trans({}, 'FOSUserBundle') }}: {{ app.user.points }}</p>
    </div>

         {#<div class="container">#}
             {#<div class="row">#}
                     {#<div class="col-xs-6">#}
                        {#<div class="globalecadre">#}
                            {#<div class="cadre1 cadre1effet">#}
                                {#<h3 class="text"><i class="fa fa-user-circle" aria-hidden="true"></i>Profile</h3>#}
                            {#</div>#}
                            {#<div class="cadre2">#}
                                {#<h3 class="text"><i class="fa fa-camera-retro" aria-hidden="true"></i>Prise de photo</h3>#}
                            {#</div>#}
                        {#</div>#}
                     {#</div>#}
                    {#<div class="col-xs-6">#}
                        {#<div class="globalecadre2">#}
                            {#<div class="cadre3">#}
                                {#<h3 class="text"><i class="fa fa-user-plus" aria-hidden="true"></i>Classement</h3>#}
                            {#</div>#}
                            {#<div class="cadre4">#}
                                {#<h3 class="text"><i class="fa fa-diamond" aria-hidden="true"></i>Concours</h3>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
             {#</div>#}
         {#</div>#}

