{% extends 'base.html.twig' %}
{% block stysheet %}
    <link href="{{ asset('css/indexgame.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="card-block">
    <h1>Games list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Difficulty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('game_show', { 'id': game.id }) }}">{{ game.id }}</a></td>
                <td>{{ game.title }}</td>
                <td>{% if game.date %}{{ game.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ game.difficulty }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('game_show', { 'id': game.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('game_edit', { 'id': game.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-warning" href="{{ path('game_new') }}">Create a new game</a>
        </li>
    </ul>


    </div>

{% endblock %}
