<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Picklly{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('') }}">

    {% block stylesheets %}
        <!-- jquery-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <!-- mdb -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/css/mdb.min.css">
        <!-- bootstrap -->
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <link href="{{ asset('css/indexgame.css') }}" rel="stylesheet">

        <link href="{{ asset('css/index.css') }}" rel="stylesheet">


    {% endblock %}

</head>

<body>
{% block body %}

    {% block header %}
    <div class="container-fluid">
        <nav class="">
            <a href="{{ path('') }}">Accueil</a>
            <div class="lien-menu hidden-xs">
                <a href="{{ path('') }}" >Home &nbsp</a>
                <a href="{{ path('') }}">Profile  &nbsp</a>
                <a href="{{ path('') }}">Classement &nbsp</a>
                <a href="{{ path('') }}">Contact</a>
            </div>
        </nav>
    </div>
    {% endblock %}

    {% block content %}

    {% endblock %}


    {% block footer %}

    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src=" {{ asset ('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')}}"></script>
    {% endblock %}

{% endblock %}


</body>
</html>
