
{% block stylesheets %}
<link href="{{ asset('css/register.css') }}" rel="stylesheet">
{% endblock %}

    {% block content %}

    <body>

        <h1>Page d'inscription</h1>

        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form, {'attr':{'class':'register'}}) }}


        <div>
            <input class="register_button btn btn-warning" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"/>
        </div>

    </body>

    {% endblock %}




